@import url('https://fonts.googleapis.com/css2? family= Alkalami & family= Outfit:wght@400;700 & display=swap');

* {
    margin: 0; /*espaçamento externo*/
    padding: 0; /* espaçamento interno*/
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;

}

.container {
    max-width: 350px;
    margin:0 auto;
}

.card {
    background-color: white;
    padding: 18px; 
    border-radius: 17px;   
    text-align: center;
    margin: 0 1rem;
    box-shadow: 10;
}

.card img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 2px cornflowerblue;

}

.text {
    padding: 22px 10px;
}

.text h1 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}

.text p {
    color:  hsl(220,15%,55%);
    }
